<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>idk</title>
</head>
<body>
    <form method="POST">
        Nome: <input type="text" name="nome">
        Email: <input type="email" name="email">
        Senha: <input type="password" name="senha">
        Foto: <input type="file" name="foto">
        <input type="submit" value="Enviar">
</body>
</html>